#content-container{
    background-color: var(--main-color-darker);
}

#content-container #slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-container #slider-container .btn-slider{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 95vw;
    justify-content: space-between;
}

#content-container #slider-container .btn-slider button{
    background-color: var(--main-color-alt);
    color: white;
    text-align: center;
    border: 1px solid var(--main-color-alt);
    border-radius: 0.5em;
    height: 10vw;
    width: 6vw;
    min-height: 5em;
    min-width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-container #slider-container .btn-slider button img{
    border: 0px solid black;
    filter: invert(100%) sepia(6%) saturate(114%) hue-rotate(333deg) brightness(104%) contrast(109%);
    height: 8vw;
    width: 100%;
    min-height: 4em;
    object-fit: cover;
}

#content-container #slider-container .character-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    width: 100vw;
}

#content-container #slider-container .character-slider img{
    min-height: 300px;
    max-height: 600px;
    width: 100vw;
    object-fit: cover;
    object-position: top;
}

#content-container #character-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding: 1em;
}

#content-container #character-container .character{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0.5em 0.5em 1em;
}

#content-container #character-container .character .character-image{
    height: 600px;
    width: 300px;
    border: 1px solid var(--main-color-alt);
    object-fit: cover;
    object-position: top;
    opacity: 1;
}

#content-container #character-container .character .character-desc{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 250px;
    height: 200px;
    position: absolute;
    text-align: center;
    padding: 1em;
    color: rgb(255, 255, 255);
    opacity: 0;
}

/* hover animation [start] */

#content-container #character-container .character:hover .character-desc{
    opacity: 1;
}

#content-container #character-container .character:hover .character-image{
    opacity: 0.2;
}

/* hover animation [end] */

/*800px rule [start]*/

@media only screen and (max-width: 800px){
    #content-container #character-container .character .character-image{
        height: 300px;
    }
}

/* 800px rule [end] */