/* @font-face{
    font-family: 'Lato';
    src: local('/assets/_font/Lato/Lato-LightItalic.ttf') format('ttf');
} */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: 'Lato'; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */

    -ms-overflow-style: none;
    scrollbar-width: none;
}

:root{
    --main-color: rgb(255,174,0);
    --main-color-darker: rgb(255, 145, 0);
    --main-color-alt: rgb(255, 60, 0);
    --main-color-alt-lt: rgb(255, 90, 30);
    --secondary-color: rgb(255, 100, 0);
}

::-webkit-scrollbar{
    display: none;
}


/* color palette

rgb(255, 174, 0)
rgb(12, 12, 12)
rgb(255, 60, 0)
rgb(255, 255, 255)

color palette*/