#content-container{
    background-color: var(--main-color-darker);
    color: rgb(255, 255, 255);
}

#content-container .showcase-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0em 0em 2em 0em;
}

#content-container .showcase-box{
    margin: 1em 0.5em 0em 0.5em;
    max-width: 900px;
    width: 40vw;
    min-width: 600px;
    max-height: 450px;
    height: 20vw;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-container .showcase-box .showcase-image > img{
    max-width: 900px;
    width: 40vw;
    min-width: 600px;
    max-height: 450px;
    height: 20vw;
    min-height: 300px;
    background-color: rgb(212, 244, 255);
    border: 1px solid var(--main-color-alt);
    object-fit: cover;
    object-position: top;
    opacity: 1;
}

#content-container .showcase-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 250px;
    height: 200px;
    position: absolute;
    text-align: center;
    padding: 1em;
    color: rgb(255, 255, 255);
    opacity: 0;
}

#content-container .showcase-texts h3{
    margin: 0em 0em 1em 0em;
}

/* hover anim [start] */

#content-container .showcase-box:hover .showcase-image > img{
    opacity: 0.2;
}

#content-container .showcase-box:hover .showcase-texts{
    opacity: 1;
}

/* hover anim [end] */