#content-title{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15em;
}

#content-title img{
    animation: opacity-in;
    animation-duration: 2s;
    animation-fill-mode: both;
    padding: 1em;
    max-width: 12em;
}

#content-title h1{
    animation: opacity-in;
    animation-duration: 2s;
    animation-fill-mode: both;
    color: rgb(255,255,255);
    font-size: 2em;
    padding-bottom: 1em;
}