#content-container{
    background-color: var(--main-color-darker);
    padding: 1em;
    display: flex;
    justify-content: center;
}

#content-sysreq{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.sysreq-container{
    display: flex;
    flex-direction: column;
    color: rgb(255,255,255);
    font-size: 1em;
}

.sysreq-container h2{
    padding: 2em 0em 1em 0em;
}

.sysreq-container h3{
    font-weight: normal;
}


/* animation [start] */

.sysreq-container h2,
.sysreq-container h3{
    animation-name: opacity-in;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#sysreq-os{
    animation-delay: 0.1s;
}
#sysreq-cpu{
    animation-delay: 0.2s;
}
#sysreq-ram{
    animation-delay: 0.3s;
}
#sysreq-gpu{
    animation-delay: 0.4s;
}
#sysreq-vram{
    animation-delay: 0.5s;
}
#sysreq-hdd{
    animation-delay: 0.6s;
}

/* animation [end] */